body {
	margin-top: 20px;
	overflow: scroll;
	/*background-image: url('img/seampaper.png');*/
}
#hidden {
	text-align: center;
	height: 40px;
	opacity: 0.9;
}
#nav-bar{
	z-index: 10;
	border-bottom: 1px solid black;
	text-align: center;
	height: 60px;
	padding-bottom: 50px;
	opacity: 0.9;
}

#nav-bar ul{
	text-align: center;
}
#nav-bar li{
	display: inline-block;
	padding: 24px 12px;
	text-shadow: #000 1px 1px 1px;
}
#nav-bar a{
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #cacaca;
	font-weight: bold;
}
#nav-bar .active{
	border-top: 2px solid rgba(138,109,59,0.81);
	padding-top: 10px;
}
#nav-bar.nav-bar-scrolled{
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: none;
}
.nav-bar-header {
	float: none;
}
/*================== FEATURED PROJECT ===========*/

#featured-main {
	margin-bottom: 40px;
	margin-bottom: 20px;
}
#featured-main img {
	border-radius: 5px;
}
#featured-project img:hover {
	opacity: 0.85;
}
#featured-main .img-responsive {
	margin: 0 auto;
}
#featured-main h1 {
	text-align: center;
	font-style: bold;
}
#featured-main h2 {
	text-align: center;
}
#featured-project img {
	padding: 5px;
	border-radius: 10px;
}
#para {
	border-bottom: 2px solid rgba(138,109,59,0.81);
	border-top: 2px solid rgba(138,109,59,0.81);
	margin-top: 40px;
	margin-bottom: 30px;
	font-style: bold;
	font-size: 14px;
	padding-top: 20px;
}
/*============= ABOUT BAR ===================*/
#about {
	margin-top: 55px;
	margin-bottom: 45px;
	padding: 30px 50px 50px;
	/*font-color: white;*/
	margin-top: 43px;
	height: 290px;
	border: 2px solid black;
	border-radius: 8px;
}
#about span{
	width: 100%;
}
#about h1 {
	font-weight: bold;
	font-size: 30px;
	color: rgba(138,109,59,0.81);
	text-align: center;
}
#me img {
	border: 1px solid #27458a;
	border-radius: 4px;
	opacity: 0.9;
}
#about-icons {
	width: 115%;
	border-radius: 10px;
}
#about-icons img:hover {
	opacity: 0.7;
}
#about-sub img {
	border-radius: 45px;
}
#above-heading {
	background-color: rgba(138,109,59,0.81);
	border: 2px solid black;
}
/*================== HEADING ==================*/
#header {
	height: 1012px;
	width: 100%;
}
#header img {
	opacity: 0.9;
	background-repeat: no-repeat;
	width: 100%;
}
#heading {
	margin-top: 40px;
	/*background-size: 100%;*/
	margin-bottom: 150px;
}
#header h1{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: rgba(138,109,59,0.81);
	font-family: Candal;
}
#heading img {
	width: 100%;
	text-align: center;
}
#pane-divs {
/*	margin-left: 70px;
*/	margin-top: 9px;
	border: 2px solid black;
	padding-bottom: 30px;
	border-radius: 8px;
	/*background-image: url('img/p2.png');*/
	background-color: #f0f1f5;
	

}
#pane-divs h1{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: rgba(138,109,59,0.81);
/*	margin-bottom: 100px;
	padding: 100px;
*/	line-height: 1;
}
#panes {
	height: 280px;
	padding: 30px;
	position: relative;
	border-radius: 5px;
}
#panes img {
	width: 100%;
	height: 100%;
}
#panes:hover {
	opacity: 0.7;
}
#panes h3 {
	position: absolute;
	top: -10px;
	left: 5px;
}
/*================ MAIN =================*/
#main{
	margin-top: 20px;
	padding: 0px 110px;
}
#main h2 {
	color: rgba(138,109,59,0.81);
}
#main {
	color: #27458a;
}
#main a:link {
	color: #27458a	
}
#main a:hover {
	color: #27458a;
}
#main p{
	color: black;
}
#main h3 {
	color: black;
}
/*================ CONTACT =================*/
#contact {
	padding: 30px 50px 50px;
	margin-top: 40px;
	margin-bottom: 60px;
	background-color: rgba(138,109,59,0.81);
	border: 2px solid black;
}
/*================ FOOTER ===================*/
#footer {
	width: 100%;
/*	border-bottom: 2px solid black;
*/	margin-bottom: 30px;
}
#css img {
	width: 83%;
}
#node img {
	width: 102%;
}
#html img {
	width: 94%;
}
#jq img{
	width: 98%;
}
#footer2 h5 {
	text-align: center;
	color: rgba(138,109,59,0.81);
	border-top: 2px solid black;
	/*padding-top: 20px;
}
