body {
	margin-top: 20px;
	overflow: scroll;
	/*background-image: url('img/seampaper.png');*/
}
#hidden {
	text-align: center;
	height: 40px;
	opacity: 0.9;
}
#nav-bar{
	z-index: 10;
	border-bottom: 1px solid black;
	text-align: center;
	height: 60px;
	padding-bottom: 50px;
	opacity: 0.9;
}

#nav-bar ul{
	text-align: center;
}
#nav-bar li{
	display: inline-block;
	padding: 24px 12px;
	text-shadow: #000 1px 1px 1px;
}
#nav-bar a{
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #cacaca;
	font-weight: bold;
}
#nav-bar .active{
	border-top: 2px solid rgba(138,109,59,0.81);
	padding-top: 10px;
}
#nav-bar.nav-bar-scrolled{
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: none;
}
.nav-bar-header {
	float: none;
}
/*================== FEATURED PROJECT ===========*/
#cars {
	background: linear-gradient(top left, lightblue, white);	
	background: linear-gradient(to bottom right, lightblue, white);}
#featured-main {
	margin-bottom: 40px;
	margin-bottom: 3px;
	font-family: candal;
/*	background: linear-gradient(top left, rgba(136,95,25,0.81), white);
	background: linear-gradient(to bottom right, rgba(136,95,25,0.81), white);
*/}
#featured-main img {
	border-radius: 5px;
}
#featured-project img:hover {
	opacity: 0.85;
}
#featured-main .img-responsive {
	margin: 0 auto;
}
#featured-main h1 {
	text-align: center;
	font-style: bold;
	color: rgba(138,109,59,0.81);
	font-size: 45px;
	text-shadow: 0 0 0.2em #00ff00, 0 0 0.2em #00ff00;
 	
}
#featured-main h2 {
	text-align: center;
	color: rgba(138,109,59,0.81);
	font-size: 35px;

}
#featured-project img {
	padding: 5px;
	border-radius: 10px;
}
#para {
	margin-top: 15px;
	margin-bottom: 30px;
	font-style: bold;
	font-size: 14px;
	padding-top: 20px;
}

/*============= ABOUT BAR ===================*/
#about {
	margin-top: 55px;
	margin-bottom: 45px;
	padding: 30px 50px 50px;
	/*font-color: white;*/
	margin-top: 43px;
	height: 290px;
	border: 2px solid black;
	border-radius: 8px;
}
#about2 {
	border: 2px solid black;
	border-radius: 8px;
	height: 450px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#about span{
	width: 100%;
}
#about h1 {
	font-weight: bold;
	font-size: 30px;
	color: rgba(138,109,59,0.81);
	text-align: center;
}
#me img {
	border: 1px solid #27458a;
	border-radius: 4px;
	opacity: 0.9;
}
#about-icons {
	width: 115%;
	border-radius: 10px;
}
#about-icons img:hover {
	opacity: 0.7;
}
.lead a:link {
	text-decoration: none;
}
#about-sub img {
	border-radius: 45px;
}
.above-heading {
	background-color: rgba(138,109,59,0.81);
	border: 2px solid black;
	margin-top: 1px;
}
#house h2 {
	text-shadow: 0px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
}
/*================== HEADING ==================*/
#header {
	height: 1012px;
	width: 100%;
	margin-bottom: 53px;
}
#header img {
	opacity: 0.9;
	background-repeat: no-repeat;
	width: 100%;
}
#heading {
	margin-top: 60px;
	/*background-size: 100%;*/
	margin-bottom: 150px;
}
#header h1{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: rgba(138,109,59,0.81);
	font-family: Candal;
/*	text-shadow: 0 0 0.2em #87F,
		0 0 0.2em #87F;
*/
}
.trees h1{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: rgba(138,109,59,0.81);
	font-family: Candal;
	text-shadow: 0px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
}
#heading img {
	width: 100%;
	text-align: center;
}
#myCarousel {
/*	padding: 40px 20px 30px;
*/}
#myCarousel li {
	visibility: hidden;
}
#pane-divs {
	border: 2px solid black;
	padding-bottom: 30px;
	border-radius: 8px;
}
#pane-divs h1{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: rgba(138,109,59,0.81);
	line-height: 1;
	text-shadow: 0px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}
#panes {
	height: 280px;
	padding: 20px;
	position: relative;
	border-radius: 5px;
}
;#panes :hover {
	border: 1px solid black;
}
#panes img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
#panes img:hover {
	opacity: 0.95;
	border: 12px solid  lightblue;
	border-radius: 5px;
	transition: 100ms;
	color: red;
}
#panes #hide {

}

#panes:hover {
	color: rgba(138,109,59,0.81);
}
#panes h3 {
	position: absolute;
	top: -10px;
	left: 5px;
}
#carousel-indicators li {
	visibility: hidden;	
}
/*================ MAIN =================*/
#main {
	margin-top: 20px;
	padding: 0px 110px;

}
#main h2 {
	color: rgba(138,109,59,0.81);
	font-weight: bold;
	font-size: 40px;
}
#main {
	color: #27458a;
}
#main a:link {
	text-decoration: none;
	color: rgba(138,109,59,0.81);	
}
#main a:hover {
	color: #27458a;
}
#main p{
	color: black;
}
#main h3 {
	color: black;
}
/*================ CONTACT =================*/
#contact {
	padding: 0px 40px 30px;
	margin-top: 10px;
	margin-bottom: 55px;
	background-color: rgba(138,109,59,0.81);
	border: 2px solid black;
}
/*================ FOOTER ===================*/
#footer {
	width: 100%;
/*	border-bottom: 2px solid black;
*/	margin-bottom: 30px;
}
#css img {
	width: 67%;
}
#js img {
	width: 66%;
}
#html img {
	width: 74%;
}
#node img{
	width: 83%;
}

#footer2 h5 {
	text-align: center;
/*	color: rgba(138,109,59,0.81);
*/	border-top: 2px solid black;
	/*padding-top: 20px;*/*/
}
#spaces-trees h1 {
	text-align: center;
	text-shadow: 0px 0 black, 0 1px black,
      1px 0 black, 0 -1px black

}
.letter {
        position: relative;
        top: -webkit-calc(50% - 60px);
        top: calc(50% - 60px);
        text-shadow: 0px 0px 3px white;
        letter-spacing: -15px;
       
}
.letter1 {
        -webkit-animation: fade 4s infinite 200ms;
        animation: fade 5s 4 200ms;
}
.letter2 {
        -webkit-animation: fade 4s infinite 200ms;
        animation: fade 5s 4 700ms;
}
.letter3 {
	letter-spacing: 1px;
}

@-webkit-keyframes fade {
        50% {
            opacity: 0.02;
        }
    }
 
    @keyframes fade {
        50% {
            opacity: 0.02;
        }
    }
